<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav
      class="flex items-center justify-between gap-4 px-10 py-4 bg-[#376dac]"
    >
      <!-- Logo -->
      <div class="flex items-center gap-6">
        <img
          src="/assets/images/eye logo.png"
          alt="eye logo"
          class="h-12 w-14"
        />
        <h1 class="font-bold text-3xl text-[#eceee0]">DCODE</h1>
      </div>

      <!-- Nav Links -->
      <div class="flex gap-4">
        <a href="home.html"> Home </a>
        <a href="about.html"> About </a>
        <a href="mission.html"> Mission </a>
        <a href="privacy.html"> Privacy and Terms </a>
      </div>
    </nav>
  </body>
</html>
